//-**=========================================================
  * Module: gentask.ng.jade
  * Created by wjwong on 10/5/15.
  =========================================================*/
toaster-container(toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}")
.row-fluid
  h2 Task
