//-**=========================================================
  * Module: gentask.ng.jade
  * Created by wjwong on 10/5/15.
  =========================================================*/
toaster-container(toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}")
.container-fluid(ng-if='!report')
  accordion(ng-if='taskdata.tasktype == "action"')
    accordion-group.panel-primary(is-open="isOpenDir")
      accordion-heading
        h4.panel-title Directions
      h4(style='margin-top: -14px; margin-bottom: 4px;') What would you tell a friend to do in a world with objects in the first image in order to obtain the configuration in the second image?  Use each text box to write a distinct full (single/multi) sentence alternative.
      .well.col-sm-8.col-sm-offset-2
        h4(style='margin-top: -14px; margin-bottom: 4px;') Example:
        img.center-block(src='img/example.png')
        label.mb-sm(style='border: 1px solid #dde6e9; border-radius: 4px; padding: 6px 16px;') Take block 14 and place it next to block 17. The down right corner of block 14 should touch the upper left corner of block 17.
        label.mb-sm(style='border: 1px solid #dde6e9; border-radius: 4px; padding: 6px 16px;') Slide block 14 straight down until its right corner touches the top left corner of block 17.
        label.mb-sm(style='border: 1px solid #dde6e9; border-radius: 4px; padding: 6px 16px;') Take the block that is on top of block 5. Move it close to block 17. Place it at the same level with block 17 and on the same vertical line as block 5.

  .row-fluid.well.col-sm-12(ng-if='taskdata.tasktype == "action"')
    .col-sm-12(ng-if='submitter')
      .label.label-warning Read Only
      i(ng-if='submitter.time', style='font-size: 1.1em') &nbsp;&nbsp;Job submitted on {{submitter.time | date:"MM/dd/yyyy H:m"}}
    .col-sm-5
      #statea
    .col-sm-1(style="margin-top: 2em; font-size: 48px;")
      .fa.fa-chevron-right
    .col-sm-5
      #stateb
    .col-sm-12
      hr
    h4.pull-left {{taskidx+1}}/{{taskdata.idxlist.length}}
    .col-sm-11
      form.ng-pristine.ng-valid(name='annotForm')
        div(ng-repeat='note in notes track by $index')
          //-.col-sm-1
            //-button.btn.btn-xs.btn-danger(title='Remove Description')
              .fa.fa-remove(ng-click='removeNote($index)')
          .col-sm-12
            b.pull-left(ng-show='!note.length || note.length < 10', style='font-size: 16px; color: red; width:2%; float: left')
              .fa.fa-asterisk
            b.pull-left(ng-show='note.length > 9', style='font-size: 16px; color: green; width:2%;').fa.fa-check
            .form-group.has-feedback.pull-left(style='display:inline-block; width:80%;')
              textarea.form-control(ng-if='submitter', type='text', ng-model='notes[$index]', style='padding-left: 26px;', ng-readonly='submitter')
              textarea.form-control(ng-if='!submitter', type='text', ng-model='notes[$index]', style='padding-left: 26px;', clear-icon)
        button.btn.btn-primary(ng-if='taskidx > 0', ng-click='itrAnnot(notes,-1)') Prev
        button.btn.btn-primary(ng-if='workerId && notes[0].length > 9 && notes[1].length > 9 && notes[2].length > 9 && taskidx+1 == taskdata.idxlist.length && !submitter', ng-click='itrAnnot(notes, 1)') Submit
        button.btn.btn-primary(ng-if='workerId && ((notes[0].length > 9 && notes[1].length > 9 && notes[2].length > 9 && taskidx+1 < taskdata.idxlist.length) || (submitter && taskidx+1 < taskdata.idxlist.length))', ng-click='itrAnnot(notes, 1)') Next

  .row-fluid.well.col-sm-12(ng-if='!assignmentId')
    .col-sm-12
      h3(style='color: red') This Job is unavailable.
//-report view
.container-fluid(ng-if='report  && currentUser.profile.roles[0] == "admin"')
  .row-fluid
    h3 Report for Submitter {{workerId}}
    button.btn.btn-primary(ng-click='dlScene()') Get Scene JSON
    | &nbsp;&nbsp;
    button.btn.btn-primary(ng-click='dlNotes()') Get Notes JSON
  .col-sm-12(ng-repeat='notes in taskdata.notes[workerId] track by $index')
    .col-sm-12
      h3.pull-left {{$index+1}}
      .col-sm-5
        div(id='statea{{$index}}')
      .col-sm-1(style="margin-top: 1em; font-size: 60px;")
        .fa.fa-chevron-right
      .col-sm-5
        div(id='stateb{{$index}}')
    .col-sm-12
      div.mb-sm(ng-repeat='note in notes track by $index')
        label.form-control {{notes[$index]}}
    .col-sm-12
      hr
