//-**=========================================================
  * Module: gentask.ng.jade
  * Created by wjwong on 10/5/15.
  =========================================================*/
toaster-container(toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}")
.container-fluid(ng-if='!report')
  .row-fluid
    h2 Task
  //-.row-fluid.well
    h3 Example
  .row-fluid.well.col-sm-12(ng-if='workerId && taskdata.tasktype == "action"')
    .col-sm-12(ng-if='submitter')
      .label.label-warning Read Only
      i(ng-if='submitter.time', style='font-size: 1.1em') &nbsp;&nbsp;Job submitted on {{submitter.time | date:"MM/dd/yyyy H:m"}}
    .col-sm-12
      .col-sm-1
        h3 {{taskidx+1}}/{{taskdata.idxlist.length}}
      .col-sm-5
        #statea
      .col-sm-1(style="margin-top: 1em; font-size: 60px;")
        .fa.fa-chevron-right
      .col-sm-5
        #stateb
    .col-sm-12
      h4 What would you tell a friend of yours to do in a world that has the objects in the first image in order to obtain the configuration in the second image?  Use each text box to write at least three distinct alternatives.
      hr
    .col-sm-12
      form.ng-pristine.ng-valid(name='annotForm')
        div(ng-repeat='note in notes track by $index')
          //-.col-sm-1
            //-button.btn.btn-xs.btn-danger(title='Remove Description')
              .fa.fa-remove(ng-click='removeNote($index)')
          .col-sm-12
            b.pull-left(ng-show='!note.length || note.length < 10', style='font-size: 16px; color: red; width:2%; float: left')
              .fa.fa-asterisk
            b.pull-left(ng-show='note.length > 9', style='font-size: 16px; color: green; width:2%;').fa.fa-check
            .form-group.has-feedback.pull-left(style='display:inline-block; width:80%;')
              textarea.form-control(ng-if='submitter', type='text', ng-model='notes[$index]', style='padding-left: 26px;', ng-readonly='submitter')
              textarea.form-control(ng-if='!submitter', type='text', ng-model='notes[$index]', style='padding-left: 26px;', clear-icon)
        button.btn.btn-primary(ng-if='taskidx > 0', ng-click='itrAnnot(notes,-1)') Prev
        button.btn.btn-primary(ng-if='notes[0].length > 9 && notes[1].length > 9 && notes[2].length > 9 && taskidx+1 == taskdata.idxlist.length && !submitter', ng-click='itrAnnot(notes, 1)') Submit
        button.btn.btn-primary(ng-if='(notes[0].length > 9 && notes[1].length > 9 && notes[2].length > 9 && taskidx+1 < taskdata.idxlist.length) || (submitter && taskidx+1 < taskdata.idxlist.length)', ng-click='itrAnnot(notes, 1)') Next

  .row-fluid.well.col-sm-12(ng-if='!workerId')
    .col-sm-12
      h3(style='color: red') This Job is unavailable.
//-report view
.container-fluid(ng-if='report')
  .row-fluid
    h3 Report for Submitter {{workerId}}
  .col-sm-12(ng-repeat='notes in taskdata.notes[workerId] track by $index')
    .col-sm-12
      .col-sm-1
        h3 {{$index+1}}
      .col-sm-5
        div(id='statea{{$index}}')
      .col-sm-1(style="margin-top: 1em; font-size: 60px;")
        .fa.fa-chevron-right
      .col-sm-5
        div(id='stateb{{$index}}')
    .col-sm-12
      div.mb-sm(ng-repeat='note in notes track by $index')
        label.form-control {{notes[$index]}}
    .col-sm-12
      hr
