//-**=========================================================
  * Module: genworld.ng.jade
  * Created by wjwong on 9/9/15.
  =========================================================*/
toaster-container(toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}")
.row-fluid.col-sm-12
  div(style='margin-top: 14px', ng-if='!isgen')
    form.form-inline.ng-pristine.ng-valid(name='myform', ng-submit='startGen(ccnt, itr)')
      .form-group
        label Cube Count: 
        select.form-control(ng-model='ccnt')
          option(ng-repeat='i in cubeprops track by $index', value='{{$index+1}}') {{$index+1}}
      label &nbsp;&nbsp;&nbsp;
      .form-group
        label Generate Iterations:
        select.form-control(ng-model='itr')
          each v in [10,40,80,160,320]
            option(value='#{v}') #{v}
      button.btn.btn-default(type='submit') Go
  hr
  h3(ng-show='dbid') Iteration: {{curitr}}  Render for: {{dbid}}
  div(style="position: absolute; z-index: 10;" class="col-sm-12")
    div(style='margin-top: 14px')
      button.btn.btn-sm(ng-click='resetWorld();')
        .fa.fa-refresh(style='color:#fff') 
          strong Reset
      button.btn.btn-sm(ng-click='showFrame();')
        .fa.fa-image(style='color:#fff') 
          strong Show

  div(ng-repeat='state in states track by $index')
    .well {{$index}}
      br
      div(ng-repeat='s in state')
        strong {{s.prop}}
        | &nbsp;&nbsp;
        i {{s.pos}}
        br
  canvas(id="renderCanvasBab" style='width: 640px; height: 440px;')
  canvas(id="canvas_2D")
  canvas(id="screencap", style='width: 640px; height: 440px;')
form(name='annotform')
  div(ng-show='myreplay.keyframes.length', ng-repeat = 'kf in myreplay.keyframes')
    .row-fluid.col-sm-12(style='border-bottom:solid 2px #eee;')
      h2 Frame {{kf}}
      .col-sm-7
        div(ng-repeat='note in annot.notes[kf] track by $index')
          .col-sm-1
            button.btn.btn-xs.btn-danger(title='Remove Description')
              .fa.fa-remove(ng-click='removeNote(kf, $index)')
          .col-sm-11
            .form-group.has-feedback(style='display:inline-block; width:100%;margin-bottom:0px')
              textarea.form-control(type='text', ng-model='annot.notes[kf][$index]', style='padding-left: 26px;', clear-icon)
        button.btn.btn-xs.btn-primary(ng-click='addAnnot(kf)', style='margin-bottom:6px')
          .fa.fa-pencil &nbsp;Add Description
      .col-sm-5(style='overflow:hidden;')
        span(ng-repeat='r in renderviewdata')
          canvas(id="{{kf + '_' + r.name}}" style='width: 320px; height: 220px;')
