//-**=========================================================
  * Module: tasks.ng.jade
  * Created by wjwong on 8/11/15.
  =========================================================*/
toaster-container(toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}")
.row
  accordion
    accordion-group.panel-primary.shadowbox(ng-init="isOpen = true", is-open="isOpen")
      accordion-heading
        h4.panel-title
          i.fa.fa-inbox
          | &nbsp; Available Games
      table.table.table-condensed(ng-if='blockreplays', datatable="ng", dt-options="dtOptions")
        thead
          tr
            th
            th Name
            th Created
            th By
        tbody
          tr(ng-repeat='replay in blockreplays', ng-if='replay.public')
            td(ng-click='remove(replay._id)')
              .fa.fa-remove
            td(title='{{replay._id}}', ng-click='selectAgent(replay._id)') {{ replay.name}}
            td {{replay.created | date: 'yyyy-MM-dd h:mm:ss'}}
            td {{replay.creator}}
.row
  accordion.col-sm-6
    accordion-group.panel-primary.shadowbox(ng-init="isOpen = true", is-open="isOpen")
      accordion-heading
        h4.panel-title
          i.fa.fa-inbox
          | &nbsp; Assigned Games
      table.table.table-condensed(ng-if='jobs', datatable="ng", dt-options="dtOptions")
        thead
          tr
            th
            th Game
            th Player
            th Assigned
        tbody
          tr(ng-repeat='job in jobs', title='ID: {{job._id}} Created By: {{job.creator}}', ng-if='!job.submitted')
            td(ng-click='removeJob(job._id)')
              .fa.fa-remove
            td {{TaskName(job.task)}}
            td {{AgentName(job.agent)}}
            td {{job.assigned | date: 'yyyy-MM-dd h:mm'}}
  accordion.col-sm-6
    accordion-group.panel-primary.shadowbox(ng-init="isOpen = true", is-open="isOpen")
      accordion-heading
        h4.panel-title
          i.fa.fa-inbox
          | &nbsp; Submitted Games
      table.table.table-condensed(ng-if='jobs', datatable="ng", dt-options="dtOptions")
        thead
          tr
            th
            th Game
            th Player
            th Submitted
        tbody
          tr(ng-repeat='job in jobs', title='ID: {{job._id}} Created By: {{job.creator}}', ng-if='job.submitted')
            td(ng-click='removeJob(job._id)')
              .fa.fa-remove
            td(ng-click='$state.go("app.replay", {jobid: job._id})') {{TaskName(job.task)}}
            td(ng-click='$state.go("app.replay", {jobid: job._id})') {{AgentName(job.agent)}}
            td(ng-click='$state.go("app.replay", {jobid: job._id})') {{job.submitted | date: 'yyyy-MM-dd h:mm'}}


script#didAgents(type="text/ng-template")
  h3 Choose an Agent
  div
    table.row-border.hover(datatable='ng', dt-options='dtOptions')
      thead
        tr
          th Name
      tbody
        tr(ng-repeat='agent in ngDialogData.agents', ng-if='agent.profile.roles.indexOf("agent") > -1')
          td(title='{{agent._id}}', ng-click='closeThisDialog(agent._id)') {{agent.username}}
