//-**=========================================================
  * Module: singleview.ng.jade
  * Created by wjwong on 7/27/15.
  =========================================================*/
h3
  | {{app.name}}
  small
    | Navigation:
    br
    | Move Camera: Use arrow keys to move camera
    br
    | Move Blocks: Click and hold to drag and drop blocks
    br
    | Move Blocks Up/Down: Click and hold block, then hold shift key to move up and down
  //-small {{ "dashboard.WELCOME" | translate:{ appName: } }} !
.row
  canvas(id="renderCanvasBab" style='width: 100%; height: 600px;')
  //-.col-xs-12.text-center
    h2.text-thin Single view content
    p
      | This project is an application skeleton. You can use it to quickly bootstrap your angular webapp projects and dev environment for these projects.
      br
      | The seed app doesn"t do much and has most of the feature removed so you can add theme as per your needs just following the demo app examples.

