//-**=========================================================
  * Module: describe.ng.jade
  * Created by wjwong on 9/1/15.
  =========================================================*/
toaster-container(toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}")
.row-fluid.col-sm-12
  div(style='margin-top: 14px')
    h2 Frame Descriptions
  button.btn.btn-sm.btn-success(ng-click='submit()')
    .fa.fa-send &nbsp;Submit
  hr
  canvas(id="renderCanvasBab" style='width: 320px; height: 220px;')
  canvas(id="canvas_2D")
form(name='annotform')
  div(ng-show='myreplay.keyframes.length', ng-repeat = 'kf in myreplay.keyframes')
    .row-fluid.col-sm-12(style='border-bottom:solid 2px #eee;')
      h2 Frame {{kf}}
      .col-sm-7
        div(ng-repeat='note in annot.notes[kf] track by $index')
          .col-sm-1
            button.btn.btn-xs.btn-danger(title='Remove Description')
              .fa.fa-remove(ng-click='removeNote(kf, $index)')
          .col-sm-11
            .form-group.has-feedback(style='display:inline-block; width:100%;margin-bottom:0px')
              textarea.form-control(type='text', ng-model='annot.notes[kf][$index]', style='padding-left: 26px;', clear-icon)
        button.btn.btn-xs.btn-primary(ng-click='addAnnot(kf)', style='margin-bottom:6px')
          .fa.fa-pencil &nbsp;Add Description
      .col-sm-5(style='overflow:hidden;')
        span(ng-repeat='r in renderviewdata')
          canvas(id="{{kf + '_' + r.name}}" style='width: 320px; height: 220px;')
