//-**=========================================================
  * Module: gentask.ng.jade
  * Created by wjwong on 10/5/15.
  =========================================================*/
.row-fluid(ng-show='!dataloaded')
  #loadoverlay.container-fluid
    #loadoverlay-image.text-center(style="position:fixed;top:50%;left:50%; color:#23b7e5;")
      i.fa.fa-4x.fa-spin.fa-cube
      h3(style="color:#23b7e5;") Loading...
toaster-container(toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}")
.container-fluid(ng-if='!report && assignmentId')
  accordion(ng-if='taskdata.tasktype == "action"')
    accordion-group.panel-primary(is-open="isOpenDir")
      accordion-heading
        h4.panel-title Directions
      h4(style='margin-top: -14px; margin-bottom: 4px;') What would you tell a friend to do in a world with objects in the first image in order to obtain the configuration in the second image?  Use each text box to write a distinct full (single/multi) sentence alternative.
      .well.col-sm-8.col-sm-offset-2
        h4(style='margin-top: -14px; margin-bottom: 4px;') Example:
        img.center-block(src='img/example.png')
        label.mb-sm(style='border: 1px solid #dde6e9; border-radius: 4px; padding: 6px 16px;') Take block 14 and place it next to block 17. The down right corner of block 14 should touch the upper left corner of block 17.
        label.mb-sm(style='border: 1px solid #dde6e9; border-radius: 4px; padding: 6px 16px;') Slide block 14 straight down until its right corner touches the top left corner of block 17.
        label.mb-sm(style='border: 1px solid #dde6e9; border-radius: 4px; padding: 6px 16px;') Take the block that is on top of block 5. Move it close to block 17. Place it at the same level with block 17 and on the same vertical line as block 5.

  accordion(ng-if="curState.block_meta.decoration=='logo'")
    accordion-group.panel-info(is-open='true')
      accordion-heading
        h4.panel-title Logo Key
      span(ng-repeat='l in logolist', style='display:inline-block;padding-right:6px')
        img(src='{{l.imgref}}', height='64', width='64')
        div
          label {{l.name | uppercase}}

  .row-fluid.well.col-sm-12(ng-if='taskdata.tasktype == "action"')
    .col-sm-12(ng-if='submitter')
      .label.label-warning Read Only
      i(ng-if='submitter.time', style='font-size: 1.1em') &nbsp;&nbsp;Job submitted on {{submitter.time | date:"MM/dd/yyyy H:m"}}
    .col-md-6
      #statea
    .col-md-6
      #stateb
    .col-sm-12
      hr
      div(style='color:red;font-size:1.1em')
        .fa.fa-exclamation-triangle
        | There are {{notes.length}} description entrie(s).  Each description MUST describe the scene completely.  Ensure each alternative description is 
        b DIFFERENT.
    h4.pull-left {{taskidx+1}}/{{taskdata.idxlist.length}}
    .col-sm-11
      form(name='submitForm', action='{{submitTo}}', method='post')
        input(type="hidden", name="assignmentId", value="{{assignmentId}}")
        input(type="hidden", name="created", value="{{date}}")
        //-button.btn.btn-primary(ng-if='turkSubmitTo', type='submit') Submit

      form.ng-pristine.ng-valid(name='annotForm')
        div(ng-repeat='note in notes track by $index')
          //-.col-sm-1
            //-button.btn.btn-xs.btn-danger(title='Remove Description')
              .fa.fa-remove(ng-click='removeNote($index)')
          .col-sm-12(ng-show='$index > 0 && notes[$index-1].length > 13')
            | Create another description 
            b DIFFERENT 
            | from the previous
          .col-sm-12(ng-show='!$index || ($index > 0 && notes[$index-1].length > 13)')
            b.pull-left(ng-show='!note.length || note.length < 14', style='font-size: 16px; color: red; width:2%; float: left')
              .fa.fa-asterisk
            b.pull-left(ng-show='note.length > 13', style='font-size: 16px; color: green; width:2%;').fa.fa-check
            .form-group.has-feedback.pull-left(style='display:inline-block; width:80%;')
              textarea.form-control(ng-if='submitter', type='text', ng-model='notes[$index]', style='padding-left: 26px;', ng-readonly='submitter')
              textarea.form-control(ng-if='!submitter', type='text', ng-model='notes[$index]', style='padding-left: 26px;', clear-icon)
        button.btn.btn-primary(ng-if='taskidx > 0', ng-click='itrAnnot(notes,-1)') Prev
        button.btn.btn-primary(ng-if='workerId && hitId && notes[0].length > 13 && (notes[1] == undefined || notes[1].length > 13) && (notes[2] == undefined || notes[2].length > 13) && taskidx+1 == taskdata.idxlist.length && !submitter', ng-click='itrAnnot(notes, 1)') Submit
        button.btn.btn-primary(ng-if='(workerId && hitId && (notes[0].length > 13 && (notes[1] == undefined || notes[1].length > 13) && (notes[2] == undefined || notes[2].length > 13) && taskidx+1 < taskdata.idxlist.length) || (submitter && taskidx+1 < taskdata.idxlist.length))', ng-click='itrAnnot(notes, 1)') Next
        h4(ng-if='!(workerId && hitId) && !submitter') Please accept HIT to start
        
.row-fluid.well.col-sm-12(ng-if='!assignmentId && !report')
  .col-sm-12
    h3(style='color: red') This Job is unavailable.
//-report view
.container-fluid(ng-if='report  && currentUser.profile.roles[0] == "admin"')
  .row-fluid
    h3 Report for Submitter {{workerId}}
    button.btn.btn-primary(ng-click='dlScene()') Get Scene JSON
    | &nbsp;&nbsp;
    button.btn.btn-primary(ng-click='dlStates()') Get States JSON
    | &nbsp;&nbsp;
    button.btn.btn-primary(ng-click='dlNotes()') Get Notes JSON
  .col-sm-12(ng-repeat='notes in hitdata.notes[workerId] track by $index')
    .col-sm-12
      h3.pull-left {{$index+1}}
      .col-sm-6
        div(id='statea{{$index}}')
      .col-sm-5
        div(id='stateb{{$index}}')
    .col-sm-12
      div.mb-sm(ng-repeat='note in notes track by $index')
        label.form-control {{notes[$index]}}
    .col-sm-12
      hr
